aiodns==4.0.0
aiofiles==25.1.0
aiogram==3.27.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-types==0.7.0
arabic-reshaper==3.0.1
attrs==26.1.0
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
fonttools==4.63.0
frozenlist==1.8.0
idna==3.13
jalali_core==1.0.0
jdatetime==5.3.0
Jinja2==3.1.6
magic-filter==1.0.12
MarkupSafe==3.0.3
multidict==6.7.1
persiantools==5.5.1
pillow==12.2.0
propcache==0.4.1
pycares==5.0.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
pyphen==0.17.2
python-bidi==0.6.10
python-dotenv==1.2.2
reportlab==4.5.1
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
weasyprint==68.1
webencodings==0.5.1
yarl==1.23.0
zopfli==0.4.1
